$background-nav-c: #302412;
$background-popup: #4d391d;
$backround-filter-btns: #6E6D70;
$backround-filter-btns-hover: #444344;
$text-nav-c: #C9C9C9;
$border-c: rgb(0, 0, 0);
$primary-c: rgb(0,0,0);
$white-c: rgb(238, 238, 238);
$red-c: rgb(182, 0, 0);
$green-c: rgb(0, 94, 5);